<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
	 xmlns:ui="http://schemas.microsoft.com/wix/"
	 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
 >
	<Product Id="{53623FF2-309D-44FA-86B7-19728C3D8CE3}" Name="SSIS SharePoint List Adapters for SQL 2008/2008 R2" 
			 Language="1033" Version="1.0.0.0" 
			 Manufacturer="Microsoft" 
			 UpgradeCode="{9FEFBC81-365E-44FE-9FE6-DF9BA7BBBEC3}">
		<Package InstallerVersion="200" Compressed="yes" 
				 InstallScope="perMachine" InstallPrivileges="elevated"  
				 Comments="Sample SharePoint list adapters for SQL Server for SQL 2008/2008 R2 Integration Services"
				 Keywords="SharePoint Adapter SSIS SQL Server for SQL 2008/2008 R2 Integration Services"
				 Manufacturer="Microsoft" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
		<PropertyRef Id="NETFRAMEWORK35" />
		<Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK35]]>
		</Condition>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
		<Property Id="INSTALLDIR">
			<RegistrySearch Id="FindDTSPath" Root="HKLM" Type="directory"
							Key="Software\Microsoft\Microsoft SQL Server\100\SSIS\Setup\DTSPath" />
		</Property>

		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
			
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR"  Name="Microsoft SharePoint SSIS Adapter Sample">
					<Directory Id="ConnectionManager" Name="Connections">
						<Component Id="ComponentConnectionManager" KeyPath="yes" Guid="{17ED3E26-4BE7-4E0E-AB2A-F70855870645}">
							<File Id="ConnectionManagerDLL"
									Name="SharePointListConnectionManager.dll"
  		 							Source="$(var.SharePointListAdapters2008.TargetDir)\SharePointListConnectionManager.dll"  />
						</Component>
					</Directory>
					<Directory Id="DataAdapters" Name="PipelineComponents">
						<Component Id="PipelineComponents" KeyPath="yes" Guid="{6A93A912-730E-4139-83E6-403A5D33E9D7}">
							<File Id="PipelineComponentDLL"
									Name="SharePointListAdapters.dll"
  		 							Source="$(var.SharePointListAdapters2008.TargetDir)\SharePointListAdapters.dll" />
						</Component>
					</Directory>
				</Directory>
				<Component Id="ConnectionManagerDLLGAC"  Guid="{F9E1033D-A005-4D81-A6AB-7047A64CE0B9}">
					<File Id="ConnectionManagerDLLGACFile"
							Name="SharePointListConnectionManager.dll" KeyPath="yes"
							Source="$(var.SharePointListAdapters2008.TargetDir)\SharePointListConnectionManager.dll" Assembly=".net" />
				</Component>
				<Component Id="SharePointUtilityDLLGAC"  Guid="{EB390A77-BB04-4EA3-91DF-E0650314C03F}">
					<File Id="SharePointUtilityDLLGACFile"
							Name="SharePointUtility.dll"  KeyPath="yes"
							Source="$(var.SharePointUtility.TargetPath)" Assembly=".net" />
				</Component>
				<Component Id="PipelineComponentDLLGAC"  Guid="{BD8E502F-C2DF-499E-9AB9-C92566579297}">
					<File Id="PipelineComponentDLLGACFile"
							Name="SharePointListAdapters.dll" KeyPath="yes"
							Source="$(var.SharePointListAdapters2008.TargetDir)\SharePointListAdapters.dll" Assembly=".net" />
				</Component>
			</Directory>
		</Directory>
		<Feature Id="ProductFeature" Title="Install SSIS Components" Level="1" Display="expand" 
				 ConfigurableDirectory="INSTALLDIR">
			<ComponentRef Id="ComponentConnectionManager" />
			<ComponentRef Id="PipelineComponents" />
			<ComponentRef Id="ConnectionManagerDLLGAC" />
			<ComponentRef Id="SharePointUtilityDLLGAC" />
			<ComponentRef Id="PipelineComponentDLLGAC" />
		</Feature>

		<UIRef Id="WixUI_InstallDir" />

	</Product>
</Wix>
