<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
	 xmlns:ui="http://schemas.microsoft.com/wix/"
	 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
 >
	<Product Id="{71FF911B-3BC0-4D43-BD1D-523F7C9D5ED2}" Name="SSIS SharePoint List Adapters" 
			 Language="1033" Version="1.0.0.0" 
			 Manufacturer="Microsoft" 
			 UpgradeCode="{B024B666-04BB-4F9B-91CB-A2671C6E2D08}">
		<Package InstallerVersion="200" Compressed="yes" 
				 InstallScope="perMachine" InstallPrivileges="elevated"  
				 Comments="Sample SharePoint list adapters for SQL Server Denali CTP3 Integration Services"
				 Keywords="SharePoint Adapter SSIS SQL Server Denali CTP3 Integration Services"
				 Manufacturer="Microsoft" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
		<PropertyRef Id="NETFRAMEWORK40FULL" />
		<Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK40FULL]]>
		</Condition>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
		<Property Id="INSTALLDIR">
			<RegistrySearch Id="FindDTSPath" Root="HKLM" Type="directory"
							Key="Software\Microsoft\Microsoft SQL Server\110\SSIS\Setup\DTSPath" />
		</Property>

		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
			
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR"  Name="Microsoft SharePoint SSIS Adapter Sample">
					<Directory Id="ConnectionManager" Name="Connections">
						<Component Id="ComponentConnectionManager" KeyPath="yes" Guid="{17ED3E26-4BE7-4E0E-AB2A-F70855870645}">
							<File Id="ConnectionManagerDLL"
									Name="SharePointListConnectionManager.dll"
  		 							Source="$(var.SharePointListAdapters2012.TargetDir)\SharePointListConnectionManager.dll"  />
						</Component>
					</Directory>
					<Directory Id="DataAdapters" Name="PipelineComponents">
						<Component Id="PipelineComponents" KeyPath="yes" Guid="{6A93A912-730E-4139-83E6-403A5D33E9D7}">
							<File Id="PipelineComponentDLL"
									Name="SharePointListAdapters.dll"
  		 							Source="$(var.SharePointListAdapters2012.TargetPath)" />
						</Component>
					</Directory>
				</Directory>
				<Component Id="ConnectionManagerDLLGAC"  Guid="{F9E1033D-A005-4D81-A6AB-7047A64CE0B9}">
					<File Id="ConnectionManagerDLLGACFile"
							Name="SharePointListConnectionManager.dll" KeyPath="yes"
							Source="$(var.SharePointListAdapters2012.TargetDir)\SharePointListConnectionManager.dll" Assembly=".net" />
				</Component>
				<Component Id="SharePointUtilityDLLGAC"  Guid="{EB390A77-BB04-4EA3-91DF-E0650314C03F}">
					<File Id="SharePointUtilityDLLGACFile"
							Name="SharePointUtility.dll"  KeyPath="yes"
							Source="$(var.SharePointUtility.TargetPath)" Assembly=".net" />
				</Component>
				<Component Id="PipelineComponentDLLGAC"  Guid="{BD8E502F-C2DF-499E-9AB9-C92566579297}">
					<File Id="PipelineComponentDLLGACFile"
							Name="SharePointListAdapters.dll" KeyPath="yes"
							Source="$(var.SharePointListAdapters2012.TargetPath)" Assembly=".net" />
				</Component>
			</Directory>
		</Directory>
		<Feature Id="ProductFeature" Title="Install SSIS Components" Level="1" Display="expand" 
				 ConfigurableDirectory="INSTALLDIR">
			<ComponentRef Id="ComponentConnectionManager" />
			<ComponentRef Id="PipelineComponents" />
			<ComponentRef Id="ConnectionManagerDLLGAC" />
			<ComponentRef Id="SharePointUtilityDLLGAC" />
			<ComponentRef Id="PipelineComponentDLLGAC" />
		</Feature>

		<UIRef Id="WixUI_InstallDir" />

	</Product>
</Wix>
